{{#if posts.length}}
	<h1>Your feed</h1>
	{{#each posts}}
		<div class="post-card">
			<div class="card-label">
				<span class="card-title"><a href="/posts/{{this.id}}">{{this.post_title}}</a></span>
				<span class="card-info">{{this.post_date}}</span>
			</div>
			<div class="card-body">
				<p>
					{{this.post_body}}
				</p>
			</div>
		</div>
	{{/each}}
{{/if}}