<div class="center-title">
	<p>
		Log in
	</p>
</div>
<div class="post-form">
	<form>
		<ul>
			<li>
				<label for="username">username:</label>
				<input type="text" id="username" name="user_name" />
			</li>
			<li>
				<label for="password">password:</label>
				<input type="password" id="password" name="user_password" />
			</li>
		</ul>
		<button type="submit" id="new-post-form">Submit</button>
	</form>
</div>