<div class="welcomepage">
	<div class="post-form">
		<div class="center-title">
			<p>
				Log in
			</p>
		</div>
		<form class="login-form">
			<ul>
				<li>
					<label for="username">username:</label>
					<input type="text" id="user" name="user" />
				</li>
				<li>
					<label for="password">password:</label>
					<input type="password" id="pass" name="user_pass" />
				</li>
			</ul>
			<button type="submit" id="new-post-form">Submit</button>
		</form>
	</div>

	<div class="post-form">
		<div class="center-title">
			<p>
				Sign up
			</p>
		</div>
		<form class="signup-form">
			<ul>
				<li>
					<label for="username">username:</label>
					<input type="text" id="username" name="user_name" />
				</li>
				<li>
					<label for="password">password:</label>
					<input type="password" id="password" name="user_password" />
				</li>
			</ul>
			<button type="submit" id="new-post-form">Submit</button>
		</form>
	</div>
</div>

<script src="/js/login.js"></script>