<div class="welcomepage">
	<div class="post-form">
		<div class="center-title">
			<p>
				Log in
			</p>
		</div>
		<form id="login-form">
			<ul>
				<li>
					<label for="username">username:</label>
					<input type="text" id="user_name" name="userLoginName" />
				</li>
				<li>
					<label for="password">password:</label>
					<input type="password" id="user_pass" name="userLoginPass" />
				</li>
			</ul>
			<button type="submit" id="new-post-form">Submit</button>
		</form>
	</div>

	<div class="post-form">
		<div class="center-title">
			<p>
				Sign up
			</p>
		</div>
		<form id="signup-form">
			<ul>
				<li>
					<label for="username">username:</label>
					<input type="text" id="usernameNew" name="userSignupName" />
				</li>
				<li>
					<label for="password">password:</label>
					<input type="password" id="passwordNew" name="userSignupPass" />
				</li>
			</ul>
			<button type="submit" id="new-post-form">Submit</button>
		</form>
	</div>
</div>

<script src="/js/login.js"></script>