<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/public/styles/styles.css" />
		<title>Document</title>
	</head>
	<body>
		<section>
			<header class="header">
				<nav class="navbar">
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">Dashboard</a></li>
						<li><a href="">Log in</a></li>
						<li><a href="">Log out</a></li>
					</ul>
				</nav>
				<div class="flag-marker">
					<p class="flag-marker-text">The Tech Blog</p>
				</div>
			</header>
		</section>

		<main>
			<section class="post-field">
				<div class="post-card">
					<div class="card-label">
						<span class="card-title">Example title</span>
						<span class="card-info">Posted by USER on 7/1/1021</span>
					</div>
					<div class="card-body">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rem aliquid veniam!
							Dignissimos architecto dolorum voluptatem. Eos veniam tempora officia explicabo
							tempore, nobis iusto aliquid blanditiis excepturi odio accusantium illum officiis rem
							ducimus. Ducimus accusamus consectetur, tempore ratione et magnam corrupti sunt. Totam
							beatae, dolor aliquid cupiditate harum dicta minima, modi recusandae error porro est
							quos architecto natus ut repudiandae itaque vitae temporibus saepe ipsam molestiae
							unde quam non blanditiis et! Cum ipsa ratione quibusdam iusto nostrum eos eum
							assumenda voluptates alias et maxime minima possimus corrupti, sed consequuntur,
							nesciunt rerum magni provident dolorum veritatis. Aliquam facilis tempore eum
							expedita?
						</p>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rem aliquid veniam!
							Dignissimos architecto dolorum voluptatem. Eos veniam tempora officia explicabo
							tempore, nobis iusto aliquid blanditiis excepturi odio accusantium illum officiis rem
							ducimus. Ducimus accusamus consectetur, tempore ratione et magnam corrupti sunt. Totam
							beatae, dolor aliquid cupiditate harum dicta minima, modi recusandae error porro est
							quos architecto natus ut repudiandae itaque vitae temporibus saepe ipsam molestiae
							unde quam non blanditiis et! Cum ipsa ratione quibusdam iusto nostrum eos eum
							assumenda voluptates alias et maxime minima possimus corrupti, sed consequuntur,
							nesciunt rerum magni provident dolorum veritatis. Aliquam facilis tempore eum
							expedita?
						</p>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
